@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0vw;
    padding: 0vw;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    /* display: flex; */
    position: relative;
    padding-bottom: 30px;
    border: solid #C4C4C4 1px;
    width: 350px;
    border-radius: 18px;
}

input {
    display: block;
    margin: 30px auto 0 auto;
    width: 280px;
    height: 40px;
    border-radius: 10px;
    border: solid #C4C4C4 1px;
    padding-right: 45px;
    padding-left: 10px;
}

h1 {    
    text-align: center;
    margin-top: 20px;
    /* margin-left: 6vw; */
}

.yellow {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 30px;
    background-color: #FFDC40;
}


.adder {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    border: solid #833AE0 1px;
    margin: 20px auto 0px auto;
    background-color: #833AE0;
}

.adder:hover{
    cursor: pointer;
}


.plus {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid #9953F1 1px;
    background-color: #9953F1;
}


.plus-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-left: 15px;
    color: white;
    border: none;
}



.add {
    color: white;
    padding-left: 30px;
}


.input-container {
    position: relative;
    display: block;
    margin-top: 3vw;
}


.input-x {
    position: absolute;
    right: 55px;
    top: 10px;

}

.input-x-purple {
    display: none;
    position: absolute;
    right: 55px;
    top: 10px;
    /* cursor: pointer; */
}

.sorts {
    position: absolute;
    top: 107px;
    left: 280px;
}

.sort-down-gray {
    display: block;
    top: 20px;
    left: 280px;
}

.sort-up-gray {
    display: none;
    top: 20px;
    left: 280px;
}

.sort-down-black {
    display: none;
    top: 20px;
    left: 280px;
}

.sort-up-black {
    display: none;
    top: 20px;
    right: 280px;
}



.delete-purple {
    display: none;
}


.list {
    width: 80%;
    margin: 40px 35px auto;
    border: solid #C4C4C4 1px;
    border-radius: 10px;
    padding: 2px 15px;
    display: none;
}



.area-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

}

.area:hover{
    border: solid #C4C4C4 1px;
    border-radius: 10px;
}



@media (min-width: 300px) and (max-width: 400px){
    .container {
        /* width: 90vw;  */
    }

    input {
        width: 80%; 
        margin: 30px auto 0 auto; 
    }

    .sorts {
        position: absolute;
        top: 80px; 
        /* right: 10vw;  */
        /* left: 80vw; */
    }
    

    .input-x,
    .input-x-purple {
        position: absolute;
        right: 10vw; 
        top: 25%;
    }

    h1 {
        font-size: 6vw;
        margin-top: 15px;
    }
}